html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  font-size: 100%;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  min-height: 100%;
  line-height: 1.4;
  font-family: Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  box-sizing: border-box;
  overflow-y: hidden;
}

* {
  box-sizing: inherit;
}

#app {
  height: 100%;
}